<ActionBar title="Grid Layout Sample" class="action-bar">
</ActionBar>

<TabView #tabView androidSelectedTabHighlightColor="#5F1F42" androidTabsPosition="bottom" selectedTabTextColor="#5F1F42" class="tab-view">
    <DockLayout class="page tab-view-item" stretchLastChild="false" *tabItem="{title: 'Optimized'}">
        <OptimizedLayout></OptimizedLayout>
    </DockLayout>
    <GridLayout class="page tab-view-item" *tabItem="{title: 'Unoptimized'}">
        <UnoptimizedLayout></UnoptimizedLayout>
    </GridLayout>
</TabView>
